@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Allow changing font family via CMS */
  html {
    font-family: var(--font-family);
  }

  mark {
    @apply bg-accent text-accent-content;
  }

  /** Remove default styles from input[type=number] */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Disable scroll once drawer/modal is openned */
  body:has(.drawer-toggle:checked),
  body:has(.modal-toggle:checked) {
    overflow: hidden;
    height: 100vh;
  }
}

@layer components {
  .features {
    @apply flex items-center justify-center gap-6 flex-wrap;
    @apply relative max-w-[1280px] mx-auto;
  }

  .feature-card {
    @apply w-[380px] max-w-[380px] lg:h-[380px] bg-[#F4F4F4] rounded-3xl;
    @apply border-l border-transparent duration-200 whitespace-pre-line text-center;
    @apply flex flex-col items-center justify-start gap-8 py-10 px-8 lg:px-12;
  }
}

.group:disabled .group-disabled\:animate-progress {
  animation: progress-frame ease normal
}

@keyframes progress-frame {
  0% {
    --dot-progress: 0%
  }

  to {
    --dot-progress: 100%
  }
}

.cool-btn {
  background: hsl(209, 100%, 35%);
  border: 1px solid rgba(13, 138, 255, 0.00);
  transition: box-shadow 0.075s ease-in-out;
  box-shadow:
    /* Dark color */
    0px 20px 0px 0px rgba(255, 255, 255, 0.15) inset,
    /* Inner bottom shadow */
    0px -3px 9px 0px rgba(0, 48, 92, 0.71) inset,
    /* Outer bottom shadow  */
    0px 4px 8px 0px rgba(0, 69, 133, 0.38);

  &:hover {
    background: hsl(209, 100%, 30%);
    box-shadow:
      /* Dark color */
      0px 20px 0px 0px rgba(255, 255, 255, 0.10) inset,
      /* Inner bottom shadow */
      0px -3px 9px 0px rgba(0, 48, 92, 0.71) inset,
      /* Outer bottom shadow  */
      0px 4px 8px 0px rgba(0, 69, 133, 0.38);
  }

  &:active {
    scale: 0.95;
  }
}

select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  background-position: right .5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  padding-right: 2.5rem;
  appearance: none;
}